.starsgeneral {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.99em;
    --top-offset: 61.42vh;
    --fall-duration: 11.049s;
    --fall-delay: 2.899s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.62em;
    --top-offset: 87.36vh;
    --fall-duration: 8.833s;
    --fall-delay: 7.217s;
  }
  .star:nth-child(3) {
    --star-tail-length: 6.45em;
    --top-offset: 12.87vh;
    --fall-duration: 6.077s;
    --fall-delay: 2.276s;
  }
  .star:nth-child(4) {
    --star-tail-length: 7.06em;
    --top-offset: 5.43vh;
    --fall-duration: 6.477s;
    --fall-delay: 3.439s;
  }
  .star:nth-child(5) {
    --star-tail-length: 7.45em;
    --top-offset: 11.43vh;
    --fall-duration: 10.164s;
    --fall-delay: 4.185s;
  }
  .star:nth-child(6) {
    --star-tail-length: 5.89em;
    --top-offset: 43.97vh;
    --fall-duration: 11.606s;
    --fall-delay: 5.091s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.08em;
    --top-offset: 37.76vh;
    --fall-duration: 6.749s;
    --fall-delay: 7.916s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.48em;
    --top-offset: 59.71vh;
    --fall-duration: 7.109s;
    --fall-delay: 5.206s;
  }
  .star:nth-child(9) {
    --star-tail-length: 5.95em;
    --top-offset: 8.36vh;
    --fall-duration: 7.015s;
    --fall-delay: 6.97s;
  }
  .star:nth-child(10) {
    --star-tail-length: 7.18em;
    --top-offset: 83.82vh;
    --fall-duration: 6.779s;
    --fall-delay: 1.399s;
  }
  .star:nth-child(11) {
    --star-tail-length: 7.09em;
    --top-offset: 65.78vh;
    --fall-duration: 9.418s;
    --fall-delay: 5.349s;
  }
  .star:nth-child(12) {
    --star-tail-length: 5.39em;
    --top-offset: 21.38vh;
    --fall-duration: 10.931s;
    --fall-delay: 7.176s;
  }
  .star:nth-child(13) {
    --star-tail-length: 7.18em;
    --top-offset: 51.68vh;
    --fall-duration: 8.629s;
    --fall-delay: 5.302s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.21em;
    --top-offset: 74.29vh;
    --fall-duration: 8.083s;
    --fall-delay: 7.785s;
  }
  .star:nth-child(15) {
    --star-tail-length: 7.14em;
    --top-offset: 63.61vh;
    --fall-duration: 8.746s;
    --fall-delay: 0.963s;
  }
  .star:nth-child(16) {
    --star-tail-length: 6.42em;
    --top-offset: 66.8vh;
    --fall-duration: 10.573s;
    --fall-delay: 2.833s;
  }
  .star:nth-child(17) {
    --star-tail-length: 7.1em;
    --top-offset: 50.12vh;
    --fall-duration: 8.25s;
    --fall-delay: 7.176s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.51em;
    --top-offset: 92.01vh;
    --fall-duration: 11.503s;
    --fall-delay: 8.871s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.71em;
    --top-offset: 67.73vh;
    --fall-duration: 9.06s;
    --fall-delay: 4.196s;
  }
  .star:nth-child(20) {
    --star-tail-length: 5.83em;
    --top-offset: 30.68vh;
    --fall-duration: 9.231s;
    --fall-delay: 5.853s;
  }
  .star:nth-child(21) {
    --star-tail-length: 5.12em;
    --top-offset: 98.16vh;
    --fall-duration: 7.688s;
    --fall-delay: 6.143s;
  }
  .star:nth-child(22) {
    --star-tail-length: 7.09em;
    --top-offset: 26.91vh;
    --fall-duration: 7.262s;
    --fall-delay: 5.279s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.66em;
    --top-offset: 73.61vh;
    --fall-duration: 7.619s;
    --fall-delay: 7.328s;
  }
  .star:nth-child(24) {
    --star-tail-length: 6.38em;
    --top-offset: 20.19vh;
    --fall-duration: 7.472s;
    --fall-delay: 5.487s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.03em;
    --top-offset: 76.17vh;
    --fall-duration: 11.373s;
    --fall-delay: 5.579s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.85em;
    --top-offset: 42.28vh;
    --fall-duration: 11.864s;
    --fall-delay: 2.342s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.23em;
    --top-offset: 58.33vh;
    --fall-duration: 11.032s;
    --fall-delay: 0.195s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.93em;
    --top-offset: 7.67vh;
    --fall-duration: 8.138s;
    --fall-delay: 9.464s;
  }
  .star:nth-child(29) {
    --star-tail-length: 6.54em;
    --top-offset: 80.58vh;
    --fall-duration: 9.116s;
    --fall-delay: 7.906s;
  }
  .star:nth-child(30) {
    --star-tail-length: 5.27em;
    --top-offset: 11.27vh;
    --fall-duration: 7.457s;
    --fall-delay: 7.753s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.53em;
    --top-offset: 47.78vh;
    --fall-duration: 7.061s;
    --fall-delay: 9.545s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.21em;
    --top-offset: 62.39vh;
    --fall-duration: 8.226s;
    --fall-delay: 9.377s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.38em;
    --top-offset: 66.59vh;
    --fall-duration: 8.804s;
    --fall-delay: 8.623s;
  }
  .star:nth-child(34) {
    --star-tail-length: 7em;
    --top-offset: 67.35vh;
    --fall-duration: 11.313s;
    --fall-delay: 7.38s;
  }
  .star:nth-child(35) {
    --star-tail-length: 6.41em;
    --top-offset: 83.26vh;
    --fall-duration: 10.121s;
    --fall-delay: 4.673s;
  }
  .star:nth-child(36) {
    --star-tail-length: 5.23em;
    --top-offset: 83.99vh;
    --fall-duration: 10.481s;
    --fall-delay: 8.07s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.8em;
    --top-offset: 64.68vh;
    --fall-duration: 6.465s;
    --fall-delay: 3.187s;
  }
  .star:nth-child(38) {
    --star-tail-length: 6.19em;
    --top-offset: 74.35vh;
    --fall-duration: 8.17s;
    --fall-delay: 3.276s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.61em;
    --top-offset: 71.47vh;
    --fall-duration: 11.124s;
    --fall-delay: 8.119s;
  }
  .star:nth-child(40) {
    --star-tail-length: 7.23em;
    --top-offset: 98.87vh;
    --fall-duration: 10.332s;
    --fall-delay: 8.439s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.31em;
    --top-offset: 2.1vh;
    --fall-duration: 6.355s;
    --fall-delay: 6.089s;
  }
  .star:nth-child(42) {
    --star-tail-length: 5.12em;
    --top-offset: 95.42vh;
    --fall-duration: 6.76s;
    --fall-delay: 5.25s;
  }
  .star:nth-child(43) {
    --star-tail-length: 7.5em;
    --top-offset: 47.86vh;
    --fall-duration: 9.268s;
    --fall-delay: 0.048s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.49em;
    --top-offset: 86.89vh;
    --fall-duration: 6.369s;
    --fall-delay: 7.085s;
  }
  .star:nth-child(45) {
    --star-tail-length: 7.11em;
    --top-offset: 61.52vh;
    --fall-duration: 7.789s;
    --fall-delay: 8.282s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.23em;
    --top-offset: 51.01vh;
    --fall-duration: 10.119s;
    --fall-delay: 1.671s;
  }
  .star:nth-child(47) {
    --star-tail-length: 6.21em;
    --top-offset: 41.42vh;
    --fall-duration: 6.668s;
    --fall-delay: 9.327s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.11em;
    --top-offset: 59.34vh;
    --fall-duration: 9.911s;
    --fall-delay: 6.242s;
  }
  .star:nth-child(49) {
    --star-tail-length: 5.32em;
    --top-offset: 89.78vh;
    --fall-duration: 9.35s;
    --fall-delay: 3.884s;
  }
  .star:nth-child(50) {
    --star-tail-length: 7.24em;
    --top-offset: 71.39vh;
    --fall-duration: 9.764s;
    --fall-delay: 0.695s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }