@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Montserrat:wght@600&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Montserrat:wght@600&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Montserrat:wght@600&family=Poppins:wght@900&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@500&family=Montserrat:wght@600&family=Permanent+Marker&family=Poppins:wght@900&family=Roboto:wght@700&family=Shadows+Into+Light&display=swap');

  
body{
    display: flex;
}


.navbar{
    background-color: rgb(0, 0, 0);
}


.header, .header__navbar{
    position: absolute;
    width: 100%;
    height: 900px;
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 16px;
    background-color: rgb(71, 43, 48);
    color: aliceblue;
    letter-spacing: 5px;
}


.navbar__navbar {
    padding-top: 2%;
    position: absolute;
    z-index: 1;
}


.header__slogan{
    position: absolute;
    padding-top: 20%;
    justify-content: end;
    font-size: 54px;
    /* font-family: 'DM Sans';
    font-weight: bolder; */
    font-family: 'Permanent Marker', cursive;
    color: rgb(255, 255, 255);
}


.header__texto{
    position: absolute;
    padding-top: 25%;
    justify-content: end;
    font-size: 18px;
    font-family: 'DM Sans';
    font-weight: lighter;
    color: aliceblue;
}


.header__nombre{
    position: absolute;
    padding-top: 20%;
    justify-content: end;
    font-size: 24px;
    font-family: 'DM Sans';
    font-weight: lighter;
    color: aliceblue;
    bottom: 0;
}

.servicios{
    display: flex;
    position: absolute;
    margin-top: 1000px;
    justify-content: center;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    color: red;
}


.index__solucionesqueofrecemos{
    position: absolute;
    margin-top: 1600px;
}   

.texto__solucionesqueofrecemos{
    font-family: 'Montserrat';
    color: red;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 50px;
}   


.titulos__soluciones{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 10px;
}


.texto__soluciones{
    text-align: center;
    padding-bottom: 30px;
}


#gif__ecomerce{
    display: flex;
    position: absolute;
    width: 60px;
    margin-left: 39%;
    margin-top: 80px;
}


#gif__software{
    display: flex;
    position: absolute;
    width: 60px;
    margin-left: 37%;
    margin-top: 193px;
}


#gif__appmobile{
    display: flex;
    position: absolute;
    width: 60px;
    margin-left: 36.5%;
    margin-top: 310px;
}


.disenoweb{
    position: absolute;
    margin-top: 2200px;
}

.disenoweb__disenoweb{
    font-family: 'Montserrat';
    color: red;
    text-align: end;
    letter-spacing: 2px;
}

.disenoweb__clientes{
    font-size: 32px;
    text-align: end;
    font-size: xx-large;
    font-weight: bolder;
}


#rounded{
    width: 100px;
}


#rounded2{
    width: 100px;
}


.card__imagen{
    height: 170px;
    width: 250px;
}



.workinginprogress{
    position: absolute;
    margin-top: 3000px;
}

.text__workinginprogress{
    font-family: 'Montserrat';
    color: red;
    text-align: center;
    letter-spacing: 2px;
}

.text__comotrabajamos{
    font-size: 32px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}


.foto__equipotrabajando1{
    position: absolute;
    display: flex;
    margin-top: 3200px;
    width: 550px;
    height: 650px;
    margin-left: 37%;
}


.foto__equipotrabajando1 {
    animation-duration: 15s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes slidein {
    from {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(0deg) rotate(-5deg);
    }
  }


.foto__equipotrabajando2{
    position: absolute;
    display: flex;
    margin-top: 3200px;
    width: 550px;
    height: 650px;
    margin-left: 37%;
    background-color: rgb(228, 227, 227);
    /* transform: rotate(-55deg) */
}


.foto__equipotrabajando2 {
    animation-duration: 60s;
    animation-name: slidein2;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes slidein2 {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg) rotate(5deg);
    }
  }




.trabajamos__photo1{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3200px;
    margin-left: 16.2%;
}

.trabajamos__texto{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3380px;
    margin-left: 16.1%;
    text-align: center;
    font-family: 'Montserrat';
    color: red;
}


.probandocirculo{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 170px;
    height: 170px;
    margin-top: 3190px;
    border-color: rgb(255, 93, 93);
    border-width: 2px;
    border-style: dotted;
    margin-left: 15.6%;

}

.probandocirculo {
    animation-duration: 70s;
    animation-name: circulo;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes circulo {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg) rotate(5deg);
    }
  }


  
.trabajamos__photo2{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3500px;
    margin-left: 20.6%;
}

.trabajamos__texto2{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3680px;
    margin-left: 20.5%;
    text-align: center;
    font-family: 'Montserrat';
    color: red;
}


.probandocirculo2{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 170px;
    height: 170px;
    margin-top: 3490px;
    border-color: rgb(255, 93, 93);
    border-width: 2px;
    border-style: dotted;
    margin-left: 20%;

}

.probandocirculo2 {
    animation-duration: 70s;
    animation-name: circulo2;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes circulo2 {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg) rotate(5deg);
    }
  }


.trabajamos__photo3{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3700px;
    margin-left: 33.5%;
}

.trabajamos__texto3{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3880px;
    margin-left: 33.5%;
    text-align: center;
    font-family: 'Montserrat';
    color: red;
}


.probandocirculo3{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 170px;
    height: 170px;
    margin-top: 3690px;
    border-color: rgb(255, 93, 93);
    border-width: 2px;
    border-style: dotted;
    margin-left: 33%;

}

.probandocirculo3 {
    animation-duration: 70s;
    animation-name: circulo3;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes circulo3 {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg) rotate(5deg);
    }
  }


  .trabajamos__photo4{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3700px;
    margin-left: 60.5%;
}

.trabajamos__texto4{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3880px;
    margin-left: 60.5%;
    text-align: center;
    font-family: 'Montserrat';
    color: red;
}


.probandocirculo4{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 170px;
    height: 170px;
    margin-top: 3690px;
    border-color: rgb(255, 93, 93);
    border-width: 2px;
    border-style: dotted;
    margin-left: 60%;

}

.probandocirculo4 {
    animation-duration: 70s;
    animation-name: circulo4;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes circulo4 {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg) rotate(5deg);
    }
  }


  .trabajamos__photo5{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3500px;
    margin-left: 70.6%;
}

.trabajamos__texto5{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3680px;
    margin-left: 70.5%;
    text-align: center;
    font-family: 'Montserrat';
    color: red;
}


.probandocirculo5{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 170px;
    height: 170px;
    margin-top: 3490px;
    border-color: rgb(255, 93, 93);
    border-width: 2px;
    border-style: dotted;
    margin-left: 70%;

}

.probandocirculo5 {
    animation-duration: 70s;
    animation-name: circulo5;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes circulo5 {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg) rotate(5deg);
    }
  }


  .trabajamos__photo6{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3200px;
    margin-left: 73.2%;
}

.trabajamos__texto6{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3380px;
    margin-left: 73.1%;
    text-align: center;
    font-family: 'Montserrat';
    color: red;
}


.probandocirculo6{
    display: flex;
    position: absolute;
    border-radius: 100px;
    width: 170px;
    height: 170px;
    margin-top: 3190px;
    border-color: rgb(255, 93, 93);
    border-width: 2px;
    border-style: dotted;
    margin-left: 72.6%;

}

.probandocirculo6 {
    animation-duration: 70s;
    animation-name: circulo6;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes circulo6 {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg) rotate(5deg);
    }
  }
  


.footer{
    position: fixed;
    bottom: 0;
}


.footer__logowhatsapp{
    width: 70px;
    margin-left: 1%;
    z-index: 1;
}



.contenedorlista{
    display: flex;
    position: absolute;
    height: 65px;
    /* width: 550px; */
    font-size: 34px;
    line-height: 46px;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    overflow: hidden;
    justify-items: end;
    justify-content: end;
    background-color: aliceblue;
    bottom: unset;
}

.contenedorlista__proyecto{
    padding-top: 15px;
}

.contenedorlista__contactanos{
    padding-top: 0px;

}

.contenedorlista__general{
    list-style: none;
    animation: cambiar 7s infinite;
}

@keyframes cambiar {
    0% { margin-top: 0;} 
    10% { margin-top: 0;} 

    10% { margin-top: -10px;} 
    60% { margin-top: -60px;} 

    100% { margin-top: 0px;} 
    }



.footer__logogmail{
    margin-left: 90%;
    width: 80px;
    position: fixed;
    bottom: 0;
}


.probandoboton{
    display: flex;
    position: absolute;
    margin-top: 3500px;
}

.navbar__logogmail2{
    display: flex;
    position: absolute;
    width: 30px;
    margin-left: 55px;
}


.navbar__logowhatsapp2{
    display: flex;
    position: absolute;
    width: 30px;
    margin-left: 85px;
}

#serviciosqueofrecemos{
    margin-top: 900px;
}


#solucionesqueofrecemos{
    margin-top: 1400px;
}


#diseno{
    margin-top: 2100px;
}


#comotrabajamos{
    margin-top: 2900px;
}
